<app-product-search-header [desktopVisibleOnThisPage]="false"></app-product-search-header>

<div class="pdp-header"></div>
<div *ngIf="isAdmin && !loaderVisible" class="container admin-actions mat-elevation-z5">
  <div class="inner-admin-actions-wrapper">
      <button mat-raised-button [routerLink]="['/admin-panel/proizvodi/izmena-proizvoda/', product.id]" color="primary">{{'buttons.change' | translate}}</button>
      <button mat-raised-button (click)="activateDeactivate()" color="primary">
        <span *ngIf="!product.isDeactivated">{{'buttons.deactivate' | translate}}</span>
        <span *ngIf="product.isDeactivated">{{'buttons.activate' | translate}}</span>
      </button>
      <app-system-messages [type]="systemMessageType"></app-system-messages>
  </div>
</div>
<div *ngIf="!loaderVisible" class="container pdp-container mat-elevation-z5">
  <div class="spacer">
  </div>
  <div class="row pdp-row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  px-0 py-sm-0 py-2 pdp-slider">
      <app-pdp-slider [images]="product?.images"></app-pdp-slider>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-1 pb-3 mb-2 px-0 pdp-teaser">
      <app-pdp-teaser [teaserTitle]="product.productName" [teaserText]="product.shortDescription" [price]="product.price"></app-pdp-teaser>
      <div class="pdp-quantity col-xl-3 col-12 pb-4">
        <div class="pdp-middle">
          <div class="pdp-sign pdp-minus" (click)="decreaseQuantity()"><i class="fa fa-minus"></i></div>
          <div class="pdp-number mat-elevation-z2">
            <h3>{{quantity}}</h3>
          </div>
          <div class="pdp-sign pdp-plus" (click)="increaseQuantity()"><i class="fa fa-plus"></i></div>
        </div>
      </div>
      <button class="add-to-cart" mat-raised-button (click)="addToCart()" color="primary">{{'buttons.addToCart' | translate}}</button>
    </div>
    <div *ngIf="product.specification !== null || product.longDescription !== null" class="col-12 p-md-2 p-lg-2 p-xl-2 px-0 my-2 pdp-details">
      <app-pdp-details [specificationData]="product.specification" [detailsDescriptionData]="product.longDescription"></app-pdp-details>
    </div>
  </div>
</div>
<app-product-promotion-list *ngIf="!loaderVisible" (loadingFinished)="promotionProductsLoadingFinished()"></app-product-promotion-list>
<app-spinner-loader [requestFailed]="requestFailed" [visible]="loaderVisible"></app-spinner-loader>