@import '~@angular/material/theming';


@mixin product-details-theme($primary, $secondary, $warn, $surface, $background) {
    .pdp-container {
        background-color: white;
    }

    .pdp-header {
        background: mat-color($primary);
    }

    .admin-actions {
        background: white;
    }
}
