// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  app-spinner-loader {
    position: relative;
    top: -400px;
  }

  .pdp-image-slider {
    height: 300px;
  }

  .pdp-teaser {
    height: auto;
    text-align: center;
  }

  .admin-actions {
    position: relative;
    top: -330px;

    .inner-admin-actions-wrapper {
      display: inline-block;
      margin: 0 0 0 auto;
      padding: 5px;
    }
  }

  .pdp-details {
    margin-top: 50px;
    height: auto;
  }

  .pdp-container {
    position: relative;
    top: -320px;
  }

  .pdp-header {
    height: 400px;
  }
  
  .pdp-row {
    margin: auto 0 auto 0 !important;
  }

  .product-title {
    font-size: 26px;
    display: block;
    margin: 0;
    padding-top: 45px;
    font-weight: 800;
  }

  .spacer {
    display: none;
  }

  .pdp-quantity {
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

    .pdp-middle {
      div {
        display: inline-block;
      }

      .pdp-sign {
        padding: 10px;
        cursor: pointer;
      }

      .pdp-number {
        padding: 0 10px 0 10px;
        min-width: 35px;
      }
    }
  }
}
