// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

  app-spinner-loader {
    position: relative;
    top: -30vh;
  }

  .pdp-image-slider {
    height: 300px;
  }

  .pdp-teaser {
    height: auto;
    text-align: center;
  }

  .pdp-details {
    height: auto;
  }

  .pdp-container {
    position: static;
    margin-top: -27vh;
  }

  .pdp-row {
    margin: auto 0 auto 0 !important;
  }

  .pdp-header {
    height: 30vh;
  }

  .product-title {
    font-size: 26px;
    display: block;
    margin: 0;
    padding-top: 45px;
    font-weight: 800;
  }

  .spacer {
    display: none;
  }

  .pdp-quantity {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

    .pdp-middle {
      div {
        display: inline-block;
      }

      .pdp-sign {
        padding: 10px;
        cursor: pointer;
      }

      .pdp-number {
        padding: 0 10px 0 10px;
        min-width: 35px;

        h3 {
          margin: 10px 0 10px 0 !important;
        }
      }
    }
  }
}
